@model Euro24Tracker.Types.Nation

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Nation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ShortName" class="control-label"></label>
                <input asp-for="ShortName" class="form-control" />
                <span asp-validation-for="ShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogoLink" class="control-label"></label>
                <input asp-for="LogoLink" class="form-control" />
                <span asp-validation-for="LogoLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Punkte" class="control-label"></label>
                <input asp-for="Punkte" class="form-control" />
                <span asp-validation-for="Punkte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tore" class="control-label"></label>
                <input asp-for="Tore" class="form-control" />
                <span asp-validation-for="Tore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gegentore" class="control-label"></label>
                <input asp-for="Gegentore" class="form-control" />
                <span asp-validation-for="Gegentore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Torverhältnis" class="control-label"></label>
                <input asp-for="Torverhältnis" class="form-control" />
                <span asp-validation-for="Torverhältnis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Gruppen</label>
                <select name="SelectedGruppeId" class="form-control">
                    @if (ViewBag.Nationen != null)
                    {
                        @foreach (var nation in ViewBag.Nationen)
                        {
                            <option value="@nation.Value">@nation.Text</option>
                        }
                    }

                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
