@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Willkommen zum Admin Portal der Uefa EURO 2024</h1>
    <img style="width: 30vw; height: auto;"  src="https://logosmarcas.net/wp-content/uploads/2021/10/UEFA-Euro-2024-Novo-Logotipo.png" alt="Alternate Text" />
    
</div>
<div>
    <p> Hier können Sie folgendes verwalten:</p>
    <ul>Nationen die teilnehmen</ul>
    <ul>Spieler der Nationen</ul>
    <ul>Gruppen der EM</ul>
    <ul>Spiele zwischen verschiedenen Nationen</ul>
    <ul>EreignisTypen wie zB "Gelbe Karte", die für Ereignisse in der MAUI-App verwendet werden können</ul>
</div>

