@model Euro24Tracker.Types.Ereignis

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ereignis</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Minute" class="control-label"></label>
                <input asp-for="Minute" class="form-control" />
                <span asp-validation-for="Minute" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kommentar" class="control-label"></label>
                <input asp-for="Kommentar" class="form-control" />
                <span asp-validation-for="Kommentar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpielId" class="control-label"></label>
                <select asp-for="SpielId" class ="form-control" asp-items="ViewBag.SpielId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EreignisTypId" class="control-label"></label>
                <select asp-for="EreignisTypId" class ="form-control" asp-items="ViewBag.EreignisTypId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TorNationId" class="control-label"></label>
                <select asp-for="TorNationId" class ="form-control" asp-items="ViewBag.TorNationId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
